*{
    margin: 0;padding: 0;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
.head{
    height: 40px;
    background-color: #3E3D43;
    overflow: hidden;
}
.head ul{
    float: left;
    margin-right: 400px;
}
.head ul>li{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #BCBCBD;
    padding:0 10px;
    text-align: center;
}
.head ul>li:hover{
    cursor: pointer;
    background-color: black;
    border-top: 1px solid red;

}
.head p{
    float: left;
    color: #E9E8E9;
    height: 40px;line-height: 40px;
   
}
.head p:hover{
    cursor: pointer;
    background-color: black;
}
.bg{
    width: 100%;
    height: 180px;
    background: url('//qidian.qpic.cn/qidian_common/349573/7f689b6db8ad99e6093bae7db9a7d130/0');
   
   overflow: hidden;
   
}
.search{
    width: 400px;height: 40px;
    background-color: pink;
    margin: 0 auto;
    margin-top: 60px;
}
.search>input{
    display: inline-block;
    float: left;
    height: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}
.search>input:nth-child(1){
    width: 360px;
}
.search>button{
    width: 40px;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #BF2C24;
}
.search>button:hover{
    background-color: red;
}
.w{
    margin: 0 auto;
    width: 1200px;
}
.title{
    font-size: 35px;
    display: block;
    text-align: center;
}
.container{
    overflow: hidden;
    min-height: 1100px;
  
}
.book_list>li{
      width: 1200px;
      height: 200px;

      border-bottom:1px solid #dddddd ;
}
.book_list>li>div{
    float: left;
    width: 300px;
    height: 150px;
    
    margin-top: 25px;
}
.book_list>li>div>img{
    float: left;
    margin-right: 10px;
}
.name{
    color: #1A1A1A;
    height: 30px;
}
.intro{
    color: #666666;
    height: 100px;
    
}
.writer{
    color: #A6A6A6;
    font-size: 13px;
    
}
/* 登陆注册表格部分 */
.land{
    width: 400px;
    height: 400px;
    position: fixed;
    background-color: white;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
    display: none;
    z-index: 999;
}
.land>ul{
    text-align: center;
    list-style: none;
    margin-top: 40px;
}
.land>ul>li{
    display: inline-block;
    color: #A6A6A6;
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 2px solid #A6A6A6;
}
.land>.form{
    margin-top: 30px;
}
.land input{
    width: 80%;height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0 10px;
    box-sizing: border-box;
}
.land .land_in{
    background-color: #BF2C24;
    color: whitesmoke;
    border: none;
   
}
.land input:nth-child(3):hover{
    cursor: pointer;
    opacity: 0.8;
}
.land>span{
   float: right;

}
.land>span>.icon:hover{
    cursor: pointer;
}
