<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <link rel="stylesheet" href="/static/css/ad.css">
</head>

<body>
    <div class="head">
        <p>起点网后台管理系统</p>
    </div>
    <div class="container">
        <div class="left">
            <ul>
                <li>书籍管理</li>
                <li>订单管理</li>
                <li>权限设置</li>
                <li>系统设置</li>
            </ul>
        </div>
        <div class="right">
            <ul class="ul1">
                <li class="num">编号</li>
                <li class="bName">书名</li>
                <li class="wName">作者名</li>
                <li class="monitor">操作</li>
            </ul>
            <ul class="ul2">
            </ul>
            <div >
                <ul class="pages">
                    <li class="pageOn">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/ad.js"></script>
